<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Abu Recipes</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="w-[100%] h-[calc(100%-64px)]" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="w-48">
    <mat-list role="list">
      <mat-list-item class="hover:bg-slate-200" role="listitem">
        <button>All Recipes</button>
      </mat-list-item>
      <mat-list-item class="hover:bg-slate-200" role="listitem">
        <button>Breakfast</button>
      </mat-list-item>
      <mat-list-item class="hover:bg-slate-200" role="listitem">
        <button>Lunch</button>
      </mat-list-item>
      <mat-list-item class="hover:bg-slate-200" role="listitem">
        <button>Dinner</button>
      </mat-list-item>
      <mat-divider />
      <mat-list-item class="hover:bg-slate-200" role="listitem">
        <button>Add New</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="flex p-3 flex-col items-start">
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
